.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.data-zoomable {
  z-index: 1050;
}
.medium-zoom-overlay {
  z-index: 1040;
}

:root {
  --primary-light: #4f46e5;
  --primary-dark: #a78bfa;
}
